.modal-header {
  background-color: white;
}

.modal-header > img {
  width: 50px;
  border-radius: 50%;
}

.modal-header > h2 {
  margin-left: 20px;
}

.modal-footer > p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.modal-footer {
  background-color: white;
  margin: 0;
  padding: 10px 0;
  flex-direction: column;
  justify-content: center;
}

p > span {
  font-size: 14px;
  font-weight: lighter;
}

.modal-body > img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 650px;
}

.modal-body {
  background-color: #ffffff00;
}
.modal-content {
  background-color: transparent;
  border: none;
}

.modal {
  backdrop-filter: blur(15px);
}
